footer {
  display: flex;
  width: 100%;
  justify-content: center;
  min-width: 420px;
  background-color: #fff;


}

.container_parent_footer {
  width: 78%;
  min-width: 420px;
  background-color: #fff;


  /* border: solid yellow 3px; */
}




ul,
li {
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;

}

.container_footer_child {
  padding: 0;
  display: grid;
  width: 100%;
  /* grid-template-columns: 21.3% 21.3% 21.3% 21.3% 21.3%; */
  grid-template-columns: 40px 60px 50px 87px 40px;
  list-style: none;
  /* border: solid red; */
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}



.footer_icons {
  width: 40px;
}

#position_pay,
#pay_img {
  width: 80px;
}

#position_pay {
  transform: translateY(-35px);
}